aside {
    position: sticky;
    top: 5px;
}

.page-aside {
    width: 350px;
    min-height: 337px;
    border-radius: 8px;
    background-color: #fff;
    display: block;
    

    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 0 20px rgba(0,0,0,.15);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-aside h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;

}

.call-to-action {
    margin-top: auto;
    margin-bottom: 20px;
}

.page-aside .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 25px;
    grid-row-gap: 15px;
    & h4 {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: rgba(0,0,0,.3);
    }
    & p {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        margin-top: 5px;
    }
}


//media queries
@media (max-width: 1200px) {
    aside {
        position: relative;
        top: 0px;
        align-self: stretch;
        
        
        .page-aside {
            min-width: 100%;
            margin-bottom: 30px;
            padding-bottom: 30px;
            height: 100%;
            min-height: auto;

            .call-to-action {
                margin-top: 10px;
            }

            .grid {
                margin: 0 auto;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                place-items: center;
            }
        }
    }
}

@media (max-width: 600px) {
    aside .page-aside .grid {
        grid-template-columns: 1fr 1fr;
    }
}


