.page-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;

    .sandwich {
        display: none;
    }
}

.page-header .logo {
    display: grid;
    place-items: center; 
    
    & use:hover {
        fill: #2069f8;
    }    

}

.page-header .nav-menu {
    display: flex; 
    margin-top: 10px;
    margin-bottom: 10px;    
    & li {
        font-size: 14px;
        font-weight: 500; 
        margin-right: 20px;
    }
    :hover {
        color: #ff0b37;
    }
    & li:last-child {
        margin-right: 0;
    }
}

.page-header .lang-options {
    display: flex;

    & a {
        display: grid;
        place-items: center;
        width: 47px;
        height: 39px;
        border-radius: 20px;

        font-size: 14px;
        
    }
    :hover {
        color: #2069f8;
        font-weight: 500;
    }
    .active {
        background-color: #eee;
        font-weight: 500;
    }

}

// Media queries

@media (max-width: 1200px) {

    .page-header {
        align-items: center;
    }

    .header-middle {
        display: none;        
    }
    .toggle-menu {
        display: block;
    }
    
    .page-header  {
        .header-middle {
            position: absolute;
            top: 60px;
            left: 0;
            background: rgba(255,255,255,1);
            z-index: 100;
            width: 100%;            
        }
        
        .nav-menu { 
            align-items: center;
            flex-direction: column;
        }  
        .call-to-action  {
            margin: 0 auto;
        }
    }
    .page-header .sandwich {
        display: inline-block;
    }
}
